<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943811525748-il5qdv013vgfpgcve7qf1ovs3mpt9n2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943811525748-il5qdv013vgfpgcve7qf1ovs3mpt9n2g</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjSLaXatFlIe2Zt5r7Z7XkM-BLQKdUF4</string>
	<key>GCM_SENDER_ID</key>
	<string>943811525748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.345th</string>
	<key>PROJECT_ID</key>
	<string>chat-cdecc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-cdecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943811525748:ios:0482ea7e3c9eabd661a521</string>
	<key>DATABASE_URL</key>
	<string>https://chat-cdecc-default-rtdb.firebaseio.com</string>
</dict>
</plist>